* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  background-color: #723c80;
}

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.description {
  margin-top: 40px;
  margin-bottom: 40px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.description p {
  font-size: 25px;
  font-weight: 600;
  color: white;
  width: 50%;
  text-align: center;
}

.cta {
  all: unset;
  width: 200px;
  font-size: 30px;
  font-weight: 600;
  color: #bd00ff;
  text-align: center;
  cursor: pointer;
  background-color: yellow;
  padding: 20px 30px;
  border-radius: 1001px;
  box-shadow: 0px 9px 0px 1px rgba(43, 62, 79, 1);
  margin-bottom: 40px;
}

.video {
  width: 70%;
  height: 650px;
  background-color: white;
  margin-bottom: 50px;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.play-button {
  cursor: pointer;
}

.start {
  height: 100vh;
  overflow: hidden;
}

.start img {
  width: 100%;
}

.airplane-container {
  z-index: 5;
  position: relative;
  translate: 30% -23%;
  animation: land 1s ease-in-out 0s forwards;
}

.airplane {
  position: absolute;
  left: -30%;
  transform: scale(0.7);
}

.airplane-door {
  transform: scale(0.085);
  translate: -41% -38%;
  animation: open-door 1s ease-in-out 1s forwards;
}

.man1 {
  opacity: 0;
  position: absolute;
  top: 7%;
  left: -40%;
  transform-origin: top;
  scale: 0.1;
  animation: reveal-man 0.2s ease-in-out 2s forwards,
    jump 0.5s ease-in-out 2.1s forwards, move-man 1s ease-in-out 2.1s forwards,
    jump 0.5s ease-in-out 2.5s forwards, hide-man 0.2s ease-in-out 3.5s forwards;
}

.man2 {
  z-index: 100;
  opacity: 0;
  position: absolute;
  transform-origin: top;
  scale: 0.2;
  top: 2.5%;
  left: -21%;
  animation: reveal-man 0.2s ease-in-out 3.5s forwards;
}

div.celebration img {
  position: absolute;
  top: -100%;
  left: 5%;
}

div.celebration img:nth-child(1) {
  width: 30%;
  left: 0;
  animation: celebrate 1s ease-in 3.5s forwards;
}
div.celebration img:nth-child(2) {
  width: 40%;
  left: 30%;
  animation: celebrate 1s ease-in 3.2s forwards;
}
div.celebration img:nth-child(3) {
  width: 30%;
  left: 60%;
  animation: celebrate 1s ease-in 3.5s forwards;
}

.coins {
  position: absolute;
  top: -100%;
  left: 0;
  animation: reveal-coins 2s ease-in-out 3.5s forwards;
}

.coins img {
  animation: animate-coins 2.5s ease-in-out 3.5s forwards;
}

.coins img {
  width: fit-content;
}

.coins img:nth-child(2n) {
  animation: faster-coins 2.5s ease-in-out 3.5s forwards;
}

.coins img:nth-child(1) {
  translate: 0 1%;
  scale: 0.2;
}
.coins img:nth-child(2) {
  translate: 10% -50%;
  scale: 0.2;
}
.coins img:nth-child(3) {
  translate: 10% 10%;
  scale: 0.24;
}
.coins img:nth-child(4) {
  translate: 50% 1%;
  scale: 0.41;
}
.coins img:nth-child(5) {
  translate: 0 1%;
  scale: 0.28;
}
.coins img:nth-child(6) {
  translate: 250% 15%;
  rotate: 45deg;
  scale: 0.3;
}

@keyframes land {
  0% {
    right: -100%;
  }
  to {
    right: 10%;
  }
}
@keyframes open-door {
  to {
    translate: -36% -38%;
    scale: 0.9;
  }
}
@keyframes reveal-man {
  to {
    opacity: 1;
  }
}
@keyframes move-man {
  0% {
  }
  to {
    top: 4%;
    left: -21%;
    scale: 0.2;
  }
}
@keyframes hide-man {
  0% {
  }
  to {
    opacity: 0;
  }
}

@keyframes jump {
  0% {
    translate: 0;
  }
  50% {
    translate: 0 -10%;
  }
  70% {
    translate: 0;
  }
}

@keyframes celebrate {
  0% {
  }
  to {
    top: 0;
  }
}
@keyframes reveal-coins {
  to {
    top: 2%;
  }
}
@keyframes animate-coins {
  to {
    rotate: 360deg;
  }
}
@keyframes faster-coins {
  to {
    translate: 250% 150%;
  }
}

@media only screen and (max-width: 600px) {
  .start {
    height: 50vh;
  }

  .airplane-container {
    width: 140%;
  }

  .man2 {
    z-index: 100;
    opacity: 0;
    position: absolute;
    transform-origin: top;
    scale: 0.2;
    top: 2.5%;
    left: -35%;
    animation: reveal-man 0.2s ease-in-out 3.5s forwards;
  }

  .coins {
    position: absolute;
    top: -150%;
    left: 0;
    animation: reveal-coins 2s ease-in-out 3.5s forwards;
  }

  .coins img {
    width: 25%;
  }

  div.celebration img:nth-child(1) {
    width: 130%;
    left: 0;
    animation: celebrate 1s ease-in 3.5s forwards;
  }
  div.celebration img:nth-child(2) {
    width: 140%;
    left: 30%;
    animation: celebrate 1s ease-in 3.2s forwards;
  }
  div.celebration img:nth-child(3) {
    width: 130%;
    left: 60%;
    animation: celebrate 1s ease-in 3.5s forwards;
  }

  @keyframes move-man {
    0% {
    }
    to {
      top: 4%;
      left: -35%;
      scale: 0.2;
    }
  }
}
