* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  background-color: #723c80;
}

.start {
  position: relative;
  overflow: hidden;
}

.airplane-container {
  position: absolute;
  top: 260px;
  animation: land 1s ease-in-out 0s forwards;
}

.airplane {
  position: absolute;
  transform: scale(0.7);
}

.airplane-door {
  position: absolute;
  transform: scale(0.39);
  left: 486px;
  animation: open-door 1s ease-in-out 1.1s forwards;
}

@keyframes land {
  0% {
    right: -100%;
  }
  to {
    right: 110%;
  }
}
@keyframes open-door {
  0% {
    top: 0px;
  }
  to {
    left: 580px;
    scale: 0.9;
    top: 10px;
  }
}
