* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  background-color: #723c80;
}

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.description {
  margin-top: 40px;
  margin-bottom: 40px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.description p {
  font-size: 25px;
  font-weight: 600;
  color: white;
  width: 50%;
  text-align: center;
}

.cta {
  all: unset;
  width: 200px;
  font-size: 30px;
  font-weight: 600;
  color: #bd00ff;
  text-align: center;
  cursor: pointer;
  background-color: yellow;
  padding: 20px 30px;
  border-radius: 1001px;
  box-shadow: 0px 9px 0px 1px rgba(43, 62, 79, 1);
  margin-bottom: 20px;
}

.start {
  position: relative;
  overflow: hidden;
}

.airplane-container {
  width: 500px;
  height: 500px;
  position: absolute;
  top: 260px;
  animation: land 1s ease-in-out 0s forwards;
}

.airplane {
  position: absolute;
  transform: scale(0.7);
}

.airplane-door {
  position: absolute;
  transform: scale(0.39);
  left: 486px;
  animation: open-door 1s ease-in-out 1s forwards;
}

.man1 {
  opacity: 0;
  transform: scale(0.2);
  position: absolute;
  top: -125px;
  left: 396px;
  animation: reveal-man 0.2s ease-in-out 2s forwards,
    jump 0.5s ease-in-out 2.1s forwards, move-man 1s ease-in-out 2.1s forwards,
    jump 0.5s ease-in-out 2.5s forwards, hide-man 0.2s ease-in-out 3.5s forwards;
}

.man2 {
  z-index: 100;
  opacity: 0;
  position: absolute;
  scale: 0.7;
  top: 60px;
  left: 770px;
  animation: reveal-man 0.2s ease-in-out 3.5s forwards;
}

div.celebration img {
  position: absolute;
  top: -100%;
  left: 50%;
  translate: -50% 0;
}

div.celebration img:nth-child(1) {
  animation: celebrate 1s ease-in 3.2s forwards;
}
div.celebration img:nth-child(2) {
  left: 90%;
  translate: -50% 0;
  animation: celebrate 1s ease-in 3.5s forwards;
}
div.celebration img:nth-child(3) {
  top: -100%;
  left: 10%;
  animation: celebrate 1s ease-in 3.5s forwards;
}

div.coins img:nth-child(1) {
  position: absolute;
  top: 100px;
  transform: scale(0.3);
}
div.coins img:nth-child(2) {
  position: absolute;
  top: 110px;
  left: 300px;
  transform: scale(0.2);
}
div.coins img:nth-child(3) {
  position: absolute;
  top: 150px;
  left: 500px;
  transform: scale(0.4);
}
div.coins img:nth-child(4) {
  position: absolute;
  top: 200px;
  left: 780px;
  transform: scale(0.21);
}
div.coins img:nth-child(5) {
  position: absolute;
  top: 70px;
  left: 970px;
  transform: scale(0.41);
}
div.coins img:nth-child(6) {
  position: absolute;
  top: 400px;
  left: 1500px;
  transform: scale(0.4);
}
div.coins img:nth-child(7) {
  position: absolute;
  top: 500px;
  left: 130px;
  transform: scale(0.32);
}
div.coins img:nth-child(8) {
  position: absolute;
  top: 510px;
  left: 970px;
  transform: scale(0.15);
}
div.coins img:nth-child(9) {
  position: absolute;
  top: 580px;
  left: 370px;
  transform: scale(0.45);
}
div.coins img:nth-child(10) {
  position: absolute;
  top: 470px;
  left: 1070px;
  transform: scale(0.4);
}
div.coins img:nth-child(11) {
  position: absolute;
  top: 500px;
  left: 1230px;
  transform: scale(0.19);
}
div.coins img:nth-child(12) {
  position: absolute;
  top: 190px;
  left: 1210px;
  transform: scale(0.2);
}

div.coins img:nth-child(2n) {
  translate: 0 -500%;
  rotate: 45deg;
  animation: reveal-first-coins 5s ease-in-out 3s forwards;
}
div.coins img:nth-child(n) {
  translate: 0 -500%;

  animation: reveal-second-coins 2s ease-in-out 3.2s forwards;
}

@keyframes land {
  0% {
    right: -1000px;
  }
  to {
    right: 1600px;
  }
}
@keyframes open-door {
  0% {
    left: 486px;
    top: 0px;
  }
  to {
    left: 580px;
    scale: 0.9;
    top: 10px;
  }
}
@keyframes reveal-man {
  to {
    opacity: 1;
  }
}
@keyframes move-man {
  0% {
  }
  to {
    left: 650px;
    top: -10px;
    scale: 2;
  }
}
@keyframes hide-man {
  0% {
  }
  to {
    opacity: 0;
  }
}

@keyframes jump {
  0% {
    translate: 0;
  }
  50% {
    translate: 0 -10%;
  }
  70% {
    translate: 0;
  }
}

@keyframes celebrate {
  0% {
  }
  to {
    top: 0;
  }
}
@keyframes reveal-first-coins {
  to {
    translate: 0 10%;
    rotate: 270deg;
  }
}
@keyframes reveal-second-coins {
  to {
    translate: 0 20%;
    rotate: 370deg;
  }
}
